.location__icon {
    margin: 0 1rem 0 0;
}

.location {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    position: relative;
    padding: 1.20rem;
}