
a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    color: black;
    font-family: Shrikhand, "cursive";
  }
ul {
    list-style: none;
}

li {
    display: flex;
    position: relative;
    margin: .5rem 0;
    height: 40px;
}

img {
    max-width: 100%;
    object-fit: contain;
}
